.env
adguard/
certs/
netbootxyz/
!netbootxyz/config/menus/local/
netbootxyz/config/menus/local/omni.ipxe
omni/etcd/
omni/logs
omni/snapshot.db
omni/omni.asc
omni/secondary-storage/
traefik/logs/
ucdialplans/
