.env
adguard
certs
netbootxyz/*
!netbootxyz/README.md
!netbootxyz/config/
netbootxyz/config/*
!netbootxyz/config/menus/
netbootxyz/config/menus/*
!netbootxyz/config/menus/local/
netbootxyz/config/menus/local/omni.ipxe
omni
traefik
ucdialplans
omni/omni.asc
