# Any ${VARIABLE} in this file will be replaced with the value from the .env file that should be in the same directory as `docker-compose.yaml`
# All variables are dynamically loaded into .env via SOPS/age encrypted secrets.yaml
# To edit the secrets.yaml:
# sops --config .sops.yaml secrets.yaml

services:
  adguard:
    container_name: adguard
    image: adguard/adguardhome:v0.107.69
    hostname: rpi1
    restart: unless-stopped
    network_mode: host
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.adguard.rule=Host(`adguard-rpi1.${DOMAIN}`)"
      - "traefik.http.routers.adguard.entrypoints=websecure"
      - "traefik.http.routers.adguard.tls=true"
      - "traefik.http.routers.adguard.tls.certresolver=letsencrypt"
      - "traefik.http.services.adguard.loadbalancer.server.port=3000"
    volumes:
      - ./adguard/conf:/opt/adguardhome/conf
      - ./adguard/work:/opt/adguardhome/work


  github-runner:
    container_name: github-runner
    image: myoung34/github-runner:2.329.0
    environment:
      - REPO_URL=https://github.com/kenlasko/docker-rpi1
      - RUNNER_TOKEN=${GITHUB_RUNNER_TOKEN}
      - CONFIGURED_ACTIONS_RUNNER_FILES_DIR=/runner/data
      - DISABLE_AUTOMATIC_DEREGISTRATION=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /docker:/docker
      - ./github-runner/runner/data:/runner/data
    restart: unless-stopped


  netbootxyz:
    container_name: netbootxyz
    image: ghcr.io/netbootxyz/netbootxyz:0.7.6-nbxyz5
    restart: unless-stopped
    environment:
      - NGINX_PORT=8085
      - WEB_APP_PORT=3300
    volumes:
      - ./netbootxyz/config:/config
      - ./netbootxyz/assets:/assets
    ports:
      - 3300:3300
      - 8085:8085
      - 69:69/udp
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.netbootxyz.rule=Host(`netbootxyz.${DOMAIN}`)"
      - "traefik.http.routers.netbootxyz.entrypoints=websecure"
      - "traefik.http.routers.netbootxyz.tls=true"
      - "traefik.http.routers.netbootxyz.tls.certresolver=letsencrypt"
      - "traefik.http.services.netbootxyz.loadbalancer.server.port=3300"
    networks:
      - ipv6
  

  omni:
    container_name: omni
    image: ghcr.io/siderolabs/omni:v1.3.0
    restart: always
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    ports:
      - 2379:2379
      - 50180:50180/udp
    command:
      - --account-id=${OMNI_ACCOUNT_ID} 
      - --name=onprem-omni
      - --private-key-source=file:///omni.asc
      - --event-sink-port=8091
      - --bind-addr=0.0.0.0:4443
      - --machine-api-bind-addr=0.0.0.0:8090
      - --k8s-proxy-bind-addr=0.0.0.0:8100
      - --advertised-api-url=https://omni.${DOMAIN}/
      - --siderolink-api-advertised-url=https://omni.${DOMAIN}:8090/
      - --siderolink-wireguard-advertised-addr=omni.${DOMAIN}:50180
      - --advertised-kubernetes-proxy-url=https://omni.${DOMAIN}:8100/
      - --auth-auth0-enabled=true
      - --auth-auth0-domain=${AUTH0_DOMAIN}
      - --auth-auth0-client-id=${AUTH0_CLIENT_ID}
      - --workload-proxying-subdomain=omni
      - --initial-users=${OMNI_INITIAL_USER}
      - --enable-break-glass-configs
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.omni.rule=HostRegexp(`omni.${DOMAIN}`) || HostRegexp(`.+.omni.${DOMAIN}`)"
      - "traefik.http.routers.omni.tls.domains[0].main=${DOMAIN}"
      - "traefik.http.routers.omni.tls.domains[0].main=*.${DOMAIN}"
      - "traefik.http.routers.omni.tls.domains[1].main=omni.${DOMAIN}"
      - "traefik.http.routers.omni.tls.domains[1].main=*.omni.${DOMAIN}"
      - "traefik.http.routers.omni.entrypoints=websecure"
      - "traefik.http.routers.omni.tls=true"
      - "traefik.http.routers.omni.tls.certresolver=letsencrypt"
      - "traefik.http.routers.omni.service=omni"
      - "traefik.http.services.omni.loadbalancer.server.port=4443"
      - "traefik.http.services.omni.loadbalancer.server.scheme=https"
      - "traefik.http.services.omni.loadbalancer.server.scheme=h2c"
      # Omni API routing rule for consolidated routing
      - "traefik.http.routers.mapi.rule=Host(`omni.${DOMAIN}`) || Host(`192.168.1.17`)"
      - "traefik.http.routers.mapi.entrypoints=mapi"
      - "traefik.http.routers.mapi.tls=true"
      - "traefik.http.routers.mapi.tls.domains[0].main=omni.${DOMAIN}"
      - "traefik.http.routers.mapi.tls.certresolver=letsencrypt"
      - "traefik.http.routers.mapi.service=mapi"
      - "traefik.http.services.mapi.loadbalancer.server.port=8090"
      - "traefik.http.services.mapi.loadbalancer.server.scheme=h2c"  
      # Omni Kube routing rule for consolidated routing
      - "traefik.http.routers.kproxy.rule=Host(`omni.${DOMAIN}`)"
      - "traefik.http.routers.kproxy.entrypoints=kproxy"
      - "traefik.http.routers.kproxy.tls=true"
      - "traefik.http.routers.kproxy.tls.domains[0].main=omni.${DOMAIN}"
      - "traefik.http.routers.kproxy.tls.certresolver=letsencrypt"
      - "traefik.http.routers.kproxy.service=kproxy"
      - "traefik.http.services.kproxy.loadbalancer.server.port=8100"
      - "traefik.http.services.kproxy.loadbalancer.server.scheme=http" 
    volumes:
      - ./omni:/_out
      - ./omni/omni.asc:/omni.asc
    networks:
      - ipv6


  portainer-agent:
    container_name: portainer-agent
    image: portainer/agent:2.35.0
    restart: always
    ports:
      - 9001:9001    
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes



  traefik:
    container_name: traefik
    image: traefik:v3.5.4
    restart: always
    command:
      - --providers.docker=true
      - --api.dashboard=true
      - --log.level=INFO
      - --log.filePath=/var/log/traefik.log
      - --serversTransport.insecureSkipVerify=true
      # Set up LetsEncrypt
      - --certificatesresolvers.letsencrypt.acme.dnschallenge=true
      - --certificatesresolvers.letsencrypt.acme.dnschallenge.provider=cloudflare
      - --certificatesresolvers.letsencrypt.acme.email=ken.lasko@gmail.com
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      # Set up an insecure listener that redirects all traffic to TLS
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.websecure.address=:443
      # Set up the TLS configuration for our websecure listener
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
      - --entrypoints.websecure.http.tls.domains[0].main=*.${DOMAIN}
      # Set up the Omni endpoints
      - --entryPoints.mapi.address=:8090
      - --entryPoints.kproxy.address=:8100
    environment:
      - CLOUDFLARE_EMAIL=${CLOUDFLARE_EMAIL}
      - CLOUDFLARE_DNS_API_TOKEN=${CLOUDFLARE_DNS_API_TOKEN}
    ports:
      - 80:80
      - 443:443
      - 8090:8090
      - 8100:8100
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./certs:/letsencrypt"
      - "./traefik/logs/traefik.log:/var/log/traefik.log"
    labels:
      # Dashboard
      - "traefik.enable=true"
      - 'traefik.http.routers.traefik.rule=Host(`traefik-rpi1.${DOMAIN}`)'
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"
      - "traefik.http.routers.traefik.service=api@internal"
      - 'traefik.http.routers.traefik.middlewares=strip'
      - 'traefik.http.middlewares.strip.stripprefix.prefixes=/traefik'
      # middleware redirect
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
    extra_hosts: 
      - host.docker.internal:172.19.0.1
    networks:
      - ipv6


  ucdialplans:
    container_name: ucdialplans
    image: docker.io/kenlasko/ucdialplans:14.6.5
    restart: unless-stopped
    environment:
      - DB_SERVER=${UCDIALPLANS_DB_SERVER}
      - DB_DATABASE=${UCDIALPLANS_DB_DATABASE}
      - DB_USERNAME=${UCDIALPLANS_DB_USERNAME}
      - DB_PASSWORD=${UCDIALPLANS_DB_PASSWORD}
#    volumes:
#      - ./ucdialplans/data/wwwroot/:/var/www/
    labels:
      - "traefik.http.routers.ucdialplans.rule=Host(`www.${DOMAIN}`)"
      - "traefik.http.routers.ucdialplans.middlewares=ucdialplans"
      - "traefik.http.routers.ucdialplans.entrypoints=websecure"
      - "traefik.http.routers.ucdialplans.tls=true"
      - "traefik.http.routers.ucdialplans.tls.certresolver=letsencrypt"
      - "traefik.http.middlewares.ucdialplans.redirectregex.regex=^https?://((www.)?${DOMAIN})"
      - "traefik.http.middlewares.ucdialplans.redirectregex.replacement=https://www.${DOMAIN}"
      - "traefik.http.middlewares.ucdialplans.redirectregex.permanent=true"
      - "traefik.http.services.ucdialplans.loadbalancer.server.port=8080"
    networks:
      - ipv6


#  watchtower:
#    container_name: watchtower
#    image: containrrr/watchtower:1.7.1
#    restart: unless-stopped
#    volumes:
#    - /var/run/docker.sock:/var/run/docker.sock
#    command: --schedule "0 0 */2 * * *" --cleanup
#    networks:
#    - ipv6


networks:
  ipv6:
    enable_ipv6: false
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.19.0.0/24
          gateway: 172.19.0.1
