h1 {font-family: Arial, sans-serif; color: black; font-size: 110%; text-decoration:underline}
body {font-family: Arial, sans-serif; color: black; font-size: 85%; }<style type="text/css">
p {margin-top: 0.2em; margin-bottom: 0.3em;}
img.helpicon {height: 1.1em; width: 1.1em; margin-top: 0.2em;  vertical-align:center;  margin-right: 0.4em; }