name: Deploy Compose Stack

on:
  push:
    branches:
      - main
    paths:
      - 'docker-compose.yml'
      - '**/*.env'
      - '**/*.yaml'
      - '**/*.yml'
      - 'scripts/**'
      - '**/*.sh'

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Mark repo as safe
        run: git config --global --add safe.directory /docker

      - name: Pull latest repo changes
        run: |
          cd /docker
          git remote set-url origin https://github.com/kenlasko/docker-rpi1.git
          git pull origin main
          git remote set-url origin git@github.com:kenlasko/docker-rpi1.git

      - name: Pull images
        run: |
          cd /docker
          docker compose pull --ignore-buildable

      - name: Deploy stack
        run: |
          cd /docker
          services=$(docker compose config --services | grep -v github-runner | tr '\n' ' ')
          docker compose pull --ignore-buildable $services
          docker compose up -d --remove-orphans $services
